/* Universal */
/* ============================= */
* {
    margin  : 0;
    padding : 0;
}

html {
    background : #fff;
    min-height : 100%;
}

body {
    background : #fff;
    height     : auto;
    position   : relative;
}

html#view_snippet_preview,
html#view_snippet_preview body {
	overflow: auto !important;
	overflow-x: hidden !important;
}

img {
    border : none;
}

::selection {
    background : #393e42;
    color      : #FFF;
}

::-moz-selection {
    background : #393E42;
    color      : #FFF;
}

/* Typo */
/* ============================= */
body, td {
    font-family: 'Roboto', sans-serif;
    font-size   : 12px;
    color       : #333;
    line-height : 18px;
}

h1, h2, h3 {
    letter-spacing : 0;
    font-style     : normal;
}

h1 {
    font-size   : 30px;
    line-height: 34px;
    color       : #FF2750;
    font-weight : lighter;
    margin      : 0 0 20px 0;
}

h2 {
    font-size   : 22px;
    line-height: 27px;
    color       : #FF2750;
    font-weight : bold;
    margin      : 0 0 10px 0;
}

h3 {
    font-size   : 18px;
    line-height: 16px;
    color       : #FF2750;
    font-weight : bold;
    margin      : 0 0 10px 0;
}

h4 {
    font-size   : 14px;
    line-height: 17px;
    color       : #666666;
    font-weight : bold;
}

a, a:visited, a:active {
    color           : #FF2750;
    text-decoration : none;
    outline         : none;
}

a:hover {
    color           : #f7c603;
    text-decoration : none;
}

hr {
    margin     : 20px 0;
    height     : 1px;
    border     : none;
    border-top : 1px solid #CCCCCC;
    color      : #CCCCCC;
}

/* General */
/* ============================= */

/* Header */
/* ============================= */
header {
	display: block;
	float: left;
	width: 100%;
	background: #fff;
	padding: 15px 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #b2b2b2;
}

.cs_logo {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: lighter;
}

.cs_logo a {
	color: #444;
}

/* Sidebar */
/* ============================= */
#cs_sidebar {
	background: #dcdbde;
	box-sizing: border-box;
	border-right: 1px solid #b2b2b2;
	height: 100%;
	padding: 20px;
}

.cs_main_nav, .cs_main_nav ul, .cs_main_nav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cs_main_nav ul {
	margin: 3px 0 0;
}

.cs_main_nav > li {
	margin: 0 0 5px;
}

.cs_main_nav li {
	padding: 3px 5px;
	display: block;
	width: 100%;
	float: left;
	color: #888;
	font-weight: lighter;
	font-size: 16px;
	line-height: 19px;
}

.cs_main_nav li a {
	padding: 3px 10px;
	width: 100%;
	float: left;
	display: block;
	color: #222;
	font-weight: normal;
	font-size: 13px;
	line-height: 17px;
}


/* Content */
/* ============================= */
#cs_content {
	background: #fff;
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
}

/* Code Share */
/* ============================= */
a.cs_openCodeshare {
	z-index: 100;
	display: block;
	float: left;
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: 15px;
	background: #FF2750;
	color: #fff;
	padding: 8px;
	border-radius: 3px;
}

.cs_openCodeshare code {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	box-sizing: border-box;
	height: 100%;
}

.cs_codeshare {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	float: left;
	height: 100%;
	box-sizing: border-box;
	background: rgba(0,0,0,0.7);
	z-index: 99;
	padding: 30px 10px;
}

.cs_codeshare h2 {
	color: #fff;
}

.cs_previewIframe {
	width: 97%;
	height: 98%;
	box-sizing: border-box;
	position: absolute;
	display: block;
	float: left;
	border: 0;
}

/* Footer */
/* ============================= */
footer {
	display: block;
	float: left;
	width: 100%;
	padding: 15px 10px;
	box-sizing: border-box;
	/*background: #fff;
	border-top: 1px solid #ddd;*/
}


/* Prism */
/* ============================= */
/* http://prismjs.com/download.html?themes=prism-twilight&languages=markup+css+clike+javascript+php&plugins=line-highlight+line-numbers */
/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */
code[class*="language-"],
pre[class*="language-"] {
	color: white;
	direction: ltr;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	text-align: left;
	text-shadow: 0 -.1em .2em black;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: hsl(0, 0%, 8%); /* #141414 */
}

/* Code blocks */
pre[class*="language-"] {
	border-radius: .5em;
	border: .3em solid hsl(0, 0%, 33%); /* #282A2B */
	box-shadow: 1px 1px .5em black inset;
	margin: .5em 0;
	overflow: auto;
	padding: 1em;
}

pre[class*="language-"]::selection {
	/* Safari */
	background: hsl(200, 4%, 16%); /* #282A2B */
}

pre[class*="language-"]::selection {
	/* Firefox */
	background: hsl(200, 4%, 16%); /* #282A2B */
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: hsla(0, 0%, 93%, 0.15); /* #EDEDED */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	border-radius: .3em;
	border: .13em solid hsl(0, 0%, 33%); /* #545454 */
	box-shadow: 1px 1px .3em -.1em black inset;
	padding: .15em .2em .05em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: hsl(0, 0%, 47%); /* #777777 */
}

.token.punctuation {
	opacity: .7;
}

.namespace {
	opacity: .7;
}

.token.tag,
.token.boolean,
.token.number,
.token.deleted {
	color: hsl(14, 58%, 55%); /* #CF6A4C */
}

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin {
	color: hsl(53, 89%, 79%); /* #F9EE98 */
}

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted {
	color: hsl(76, 21%, 52%); /* #8F9D6A */
}

.token.atrule {
	color: hsl(218, 22%, 55%); /* #7587A6 */
}

.token.regex,
.token.important {
	color: hsl(42, 75%, 65%); /* #E9C062 */
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}

pre[data-line] {
	padding: 1em 0 1em 3em;
	position: relative;
}

/* Markup */
.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation {
	color: hsl(33, 33%, 52%); /* #AC885B */
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
	position: relative;
	z-index: 1;
}

.line-highlight {
	background: -moz-linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
	background: -o-linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
	background: -webkit-linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
	background: hsla(0, 0%, 33%, 0.25); /* #545454 */
	background: linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
	border-bottom: 1px dashed hsl(0, 0%, 33%); /* #545454 */
	border-top: 1px dashed hsl(0, 0%, 33%); /* #545454 */
	left: 0;
	line-height: inherit;
	margin-top: 0.75em; /* Same as .prism’s padding-top */
	padding: inherit 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	white-space: pre;
	z-index: 0;
}

.line-highlight:before,
.line-highlight[data-end]:after {
	background-color: hsl(215, 15%, 59%); /* #8794A6 */
	border-radius: 999px;
	box-shadow: 0 1px white;
	color: hsl(24, 20%, 95%); /* #F5F2F0 */
	content: attr(data-start);
	font: bold 65%/1.5 sans-serif;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	position: absolute;
	text-align: center;
	text-shadow: none;
	top: .4em;
	vertical-align: .3em;
}

.line-highlight[data-end]:after {
	bottom: .4em;
	content: attr(data-end);
	top: auto;
}

pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prism’s padding-top */

	background: hsla(24, 20%, 50%,.08);
	background: -moz-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: -webkit-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: -o-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	
	pointer-events: none;
	
	line-height: inherit;
	white-space: pre;
}

	.line-highlight:before,
	.line-highlight[data-end]:after {
		content: attr(data-start);
		position: absolute;
		top: .4em;
		left: .6em;
		min-width: 1em;
		padding: 0 .5em;
		background-color: hsla(24, 20%, 50%,.4);
		color: hsl(24, 20%, 95%);
		font: bold 65%/1.5 sans-serif;
		text-align: center;
		vertical-align: .3em;
		border-radius: 999px;
		text-shadow: none;
		box-shadow: 0 1px white;
	}
	
	.line-highlight[data-end]:after {
		content: attr(data-end);
		top: auto;
		bottom: .4em;
	}
pre.line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: relative;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		pointer-events: none;
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}